<div class="jumbotron" ,="," width="100%">
    <h1>
        <div style="color: var(--color-5);">
        <% if current_user.name.last != 's' %>
            <%= current_user.name %>'s
        <% else %>
            <%= current_user.name %>'
        <% end %>
        </div>
        <div style="color: var(--color-4);">
            Feed
        </div>
    </h1>
</div>

<div class="container">
    <%= render 'tweets/form', tweet: Tweet.new %>

    <div class="col-md-3">
        <h1>
            <% if current_user.avatar.blank? == false %>
                <%= image_tag current_user.avatar.url, size:40, class: "user-pic-nav" %>
            <% end %>
            @<%= current_user.username %>
        </h1>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <strong>Location:</strong> <%= current_user.location %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Bio:</strong> <%= current_user.bio %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
    <div class="panel-group">
        <% @paginate_following_tweets.each do |tweet| %>
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; justify-content: space-between;">
                    <p>@<%= link_to tweet.user.username, show_user_path(:id => tweet.user.id) %></p>
                    <p>
                        <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                        <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at >= 86400 %>
                    </p>
                </div>
                <div class="panel-body">
                    <p><%= tweet.message.html_safe %></p>
                    <% if tweet.image.url != nil %>
                    <br>
                    <p><%= image_tag tweet.image.url, style: "max-width: 250px; max-height: 250px;" %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
    <%= link_to_prev_page @paginate_following_tweets, 'Previous Page' %>
    <%= link_to_next_page @paginate_following_tweets, 'Next Page' %>
    </div>
</div>

<div class="col-md-3">

</div>
</div>
