<div class="jumbotron" ,="," width="100%">
    <h1>
        <div style="color: var(--color-5);">
        <% if current_user.name.last != 's' %>
            <%= current_user.name %>'s
        <% else %>
            <%= current_user.name %>'
        <% end %>
        </div>
        <div style="color: var(--color-4);">
            Feed
        </div>
    </h1>
</div>

<div class="container">
    <%= render 'tweets/form', tweet: Tweet.new %>

    <div class="col-md-3 feed-profile">
        <h1 style="color: var(--color-4);">
            <%= user_avatar_helper(current_user, 50, "user-pic-nav") %>
            @<%= link_to current_user.username, show_user_path(id: current_user.id), class: "user-profile-link" %>
        </h1>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <strong>Location:</strong> <%= current_user.location %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Bio:</strong> <%= current_user.bio %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><%= link_to "Posts: #{current_user.tweets.length}", show_user_path(id: current_user.id) %></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><%= link_to "Following: #{@following.length}", following_path(id: current_user.id) %></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><%= link_to "Followers: #{@followers.length}", followers_path(id: current_user.id) %></strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
    <div class="panel-group">
        <% @paginate_following_tweets.each do |tweet| %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="display: flex; justify-content: space-between;">
                        <p><b>@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></b></p>
                        <p>
                            <b>
                                <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                                <%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at >= 86400 %>
                            </b>
                        </p>
                    </div>
                    <p><%= tweet.message.html_safe %></p>
                    <% if tweet.image.url != nil %>
                    <br>
                    <p><%= image_tag tweet.image.url, style: "max-width: 250px; max-height: 250px;" %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
    <%= link_to_prev_page @paginate_following_tweets, 'Previous Page' %>
    <%= link_to_next_page @paginate_following_tweets, 'Next Page' %>
    </div>
</div>

<div class="col-md-3">
<h1 style="color: var(--color-4);">What's Trending</h1>

<h4>Top Tags: </h4>
<% @top_tags.first(10).each do |tag| %>
    <%= link_to Tag.find(tag[0]).phrase, tag_tweets_path(id: tag[0]) %>
<% end %>

<h4>Top Posters: </h4>
<ol style="padding-left: 15px;">
<% @top_tweeters.first(5).each do |user| %>
<li>
    <%= link_to User.find(user[0]).username, show_user_path(id: user[0]) %>
</li>
<% end %>
</ol>
</div>
</div>
