<div class="jumbotron" ,="," width="100%">
    <h1>@<%= current_user.username %>'s Feed</h1>
</div>

<div class="container">
    <%= render 'tweets/form', tweet: Tweet.new %>

    <h3>Here is what your friends are saying:</h3>

    <div class="panel-group">
        <% @following_tweets.reverse.each do |tweet| %>
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex; justify-content: space-between;">
                    <p>@<%= tweet.user.username %></p>
                    <p>Posted <%= time_ago_in_words(tweet.created_at) %> ago.</p>
                </div>
                <div class="panel-body">
                    <p><%= tweet.message.html_safe %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>
